.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background: $color-white;
    height: 4.375rem;
    width: 4.375rem;
    display: inline-block;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 10px 30px rgba($color-black, 0.1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (min-width: 850px) {
      top: 3.75rem;
      right: 3.75rem;
    }
  }

  &__background {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    background: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;
    transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);

    @media screen and (min-width: 850px) {
      top: 4.063rem;
      right: 4.063rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 0;
    // transition: opacity 0.8s width 0.8s;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 0.625rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.875rem;
      font-weight: 300;
      padding: 0 8px;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 225%;
      transition: all 0.4s;
      // Change Padding
      @media screen and(min-width: 850px) {
        padding: 0.313rem 0.625rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(0.625rem);
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // ICON
  &__icon {
    position: relative;
    // margin-top: 1.875rem;
    &,
    &::before,
    &::after {
      width: 1.875rem;
      height: 2px;
      background: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.5rem;
    }

    &::after {
      top: 0.5rem;
    }
  }

  &__button:hover &__icon::before {
    top: -0.625rem;
  }

  &__button:hover &__icon::after {
    top: 0.625rem;
  }

  &__checkbox:checked + &__button &__icon {
    background: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
