// Section About
.section-about {
  background: $color-grey-light-1;
  padding: 15.62rem 0;
  margin-top: -20vh;
}
// Section Features
.section-features {
  padding: 12.5rem 0;
  background: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.5),
      rgba($color-primary-dark, 0.5)
    ),
    url("../img/nat-4.jpg") no-repeat center/cover;
  transform: skewY(-7deg);
  margin-top: -2rem;

  & > * {
    transform: skewY(7deg);
  }

  @media screen and (min-width: 576px) {
    & {
      margin-top: -6.25rem;
    }
  }
}

// Section Tours
.section-tours {
  background: $color-grey-light-1;
  padding: 15.62rem 0 8rem;
  margin-top: -4rem;

  @media screen and (min-width: 576px) {
    & {
      margin-top: -6.25rem;
    }
  }
}

// Section Stories
.section-stories {
  padding: 9.375rem 0;
  // background: $color-grey-light-2;
  position: relative;
}

// Section Book
.section-book {
  padding: 9.375rem 0;
  background: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}
